
body { margin:0;
	padding:0; 
}
		
#map {
	height:50em;
	border: 2px solid #363636;
	border-radius: 5px;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-title {
	font-weight: 700;
}
		
.share-btn {
	display: inline-block;
	border-radius: 50px;
	color: #ffffff;
	border: 2px solid #fff;
	padding: 0.5em;
	width: 2.8em;
	opacity: 0.9;
	outline: none;
	text-align: center;
}
.share-btn:hover {
	color: #363636;
	background-color: #fff;
	border: 2px solid #fff;
}
		
.share-btn:active {
	position: relative;
	top: 2px;
	box-shadow: none;
	color: #e2e2e2;
	outline: none;
}

.my-legend {
	width: 180px !important;
	text-align: center;
	background-color: #363636 !important;
	color: #FFFFFF !important;
	margin: -10px -10px -10px -10px !important;
	padding: 10px 10px 0px 10px !important;
	border: 2px solid #FFF869;
}
  
.legend {
	font-family: Eurostile, Tahoma, sans-serif;
	font-size: 150%;
	font-weight: bold;
}

.legend-text {
	font-family: Eurostile, Tahoma, sans-serif;
	font-size: 90%;
}

.menu {
	background-color: #363636 !important;
	height: 43em;
	color: #FFFFFF;
	padding: 5px 20px 20px 20px;
	margin: 0px -10px -10px -10px;
	border-radius: 5px;
}